@import "./cards/card.scss";

* {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    height: max-content;
    width: 100vw;
    display: grid;
    gap: 2rem;
-webkit-text-fill-color: black;
}

