.cardButton {
  width: 80%;
  display: grid;
  justify-content: start;
  padding-bottom: 2rem;
}
.cardButton button {
  width: 8rem;
  color: white;
  background-color: #383838;
  -webkit-text-fill-color: #ffffff;
}

.containerTextCardBackground {
  position: absolute;
  z-index: -1;
  height: 15rem;
  width: 100%;
  background-color: black;
}

h1,
p {
  color: white;
}

.containerText {
  width: 50%;
  text-align: center;
}

.containerCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  gap: 2rem;
}
.containerCard .card {
  background-color: #ebebeb;
  width: 100%;
  height: max-content;
  display: grid;
  gap: 2rem;
  border: solid 1px gray;
  box-shadow: black 0px 0px 10px;
}
.containerCard .card div {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.containerCard .card .cardImgBackground {
  height: 15rem;
  background-color: black;
}
.containerCard .card .cardImgBackground img {
  height: 15rem;
  object-fit: cover;
}
.containerCard .card h1,
.containerCard .card p {
  width: 80%;
  height: 70%;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  height: max-content;
  width: 100vw;
  display: grid;
  gap: 2rem;
  -webkit-text-fill-color: black;
}

/*# sourceMappingURL=index.css.map */
