body{
  background-color: black;
}

.containerTextCard {
  position: relative;
  height: max-content;
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
}
.containerTextCard .cardButton {
  width: 80%;
  display: grid;
  justify-content: start;
  padding-bottom: 2rem;
}
.containerTextCard .cardButton button {
  width: 8rem;
  color: white;
  background-color: #383838;
}
.containerTextCard .containerTextCardBackground {
  position: absolute;
  z-index: -1;
  height: 15rem;
  width: 100%;
  background-color: black;
}
.containerTextCard h1,
.containerTextCard p {
  color: white;
}
.containerTextCard .containerText {
  width: 50%;
  text-align: center;
}
.containerTextCard .containerCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  gap: 2rem;
}
.containerTextCard .containerCard .card {
  background-color: #ebebeb;
  width: 100%;
  height: max-content;
  display: grid;
  gap: 2rem;
  border: solid 1px gray;
  box-shadow: black 0px 0px 10px;
}
.containerTextCard .containerCard .card div {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.containerTextCard .containerCard .card .cardImgBackground {
  height: 15rem;
  background-color: black;
}
.containerTextCard .containerCard .card h1,
.containerTextCard .containerCard .card p {
  width: 80%;
  height: 70%;
  color: black;
}

/*# sourceMappingURL=card.css.map */
